<div class='row'>
  <div class='col-sm-offset-2 col-sm-6'>
    <h1>User Profile</h1>
  </div>
</div>

<div class='page-space-lg'></div>

<div class='row'>
  <div class='col-sm-offset-2 col-sm-8'>
    <table class='table table-striped'>
      <tr>
        <th>Auction Item</th>
        <th>Auction Status</th>
        <th>Auction End Date</th>
        <th>Bid Amount</th>
        <th>Current Auction Price</th>
        <th>View</th>
      </tr>
      <% @bids.each do |bid| %>
        <tr>
          <td><%=bid.item.name%></td>
          <td><%=bid.item.aasm_state.gsub('_', ' ').titleize%></td>
          <td><%=bid.item.end_date.strftime('%d/%m/%Y')%></td>
          <td><%=number_to_currency(bid.price)%></td>
          <td><%=number_to_currency(bid.item.current_price)%></td>
          <td>
            <%=link_to item_path(bid.item) do %>
              <i class='fa fa-eye' aria-hidden='true'></i>
            <%end%>
          </td>
        </tr>
      <%end%>
    </table>
  </div>
</div>
